In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(r"C:\Users\vaish\OneDrive\Desktop\nse2.xlsx")
df

,year,gender,age,location,race:AfricanAmerican,race:Asian,race:Caucasian,race:Hispanic,race:Other,hypertension,heart_disease,smoking_history,bmi,hbA1c_level,blood_glucose_level,diabetes
0,2020,Female,32.0,Alabama,0,0,0,0,1,0,0,never,27.32,5.0,100,0
1,2015,Female,29.0,Alabama,0,1,0,0,0,0,0,never,19.95,5.0,90,0
2,2015,Male,18.0,Alabama,0,0,0,0,1,0,0,never,23.76,4.8,160,0
3,2015,Male,41.0,Alabama,0,0,1,0,0,0,0,never,27.32,4.0,159,0
4,2016,Female,52.0,Alabama,1,0,0,0,0,0,0,never,23.75,6.5,90,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2018,Female,33.0,Wyoming,0,0,0,0,1,0,0,never,21.21,6.5,90,0
99996,2016,Female,80.0,Wyoming,0,1,0,0,0,0,0,No Info,36.66,5.7,100,0
99997,2018,Male,46.0,Wyoming,0,1,0,0,0,0,0,ever,36.12,6.2,158,0
99998,2018,Female,51.0,Wyoming,1,0,0,0,0,0,0,not current,29.29,6.0,155,0
99999,2016,Male,13.0,Wyoming,0,0,0,1,0,0,0,No Info,17.16,5.0,90,0

In [3]:
df.head()

,year,gender,age,location,race:AfricanAmerican,race:Asian,race:Caucasian,race:Hispanic,race:Other,hypertension,heart_disease,smoking_history,bmi,hbA1c_level,blood_glucose_level,diabetes
0,2020,Female,32.0,Alabama,0,0,0,0,1,0,0,never,27.32,5.0,100,0
1,2015,Female,29.0,Alabama,0,1,0,0,0,0,0,never,19.95,5.0,90,0
2,2015,Male,18.0,Alabama,0,0,0,0,1,0,0,never,23.76,4.8,160,0
3,2015,Male,41.0,Alabama,0,0,1,0,0,0,0,never,27.32,4.0,159,0
4,2016,Female,52.0,Alabama,1,0,0,0,0,0,0,never,23.75,6.5,90,0

In [4]:
df.tail()

,year,gender,age,location,race:AfricanAmerican,race:Asian,race:Caucasian,race:Hispanic,race:Other,hypertension,heart_disease,smoking_history,bmi,hbA1c_level,blood_glucose_level,diabetes
99995,2018,Female,33.0,Wyoming,0,0,0,0,1,0,0,never,21.21,6.5,90,0
99996,2016,Female,80.0,Wyoming,0,1,0,0,0,0,0,No Info,36.66,5.7,100,0
99997,2018,Male,46.0,Wyoming,0,1,0,0,0,0,0,ever,36.12,6.2,158,0
99998,2018,Female,51.0,Wyoming,1,0,0,0,0,0,0,not current,29.29,6.0,155,0
99999,2016,Male,13.0,Wyoming,0,0,0,1,0,0,0,No Info,17.16,5.0,90,0

In [5]:
df.info

<bound method DataFrame.info of        year  gender   age location  race:AfricanAmerican  race:Asian  \
0      2020  Female  32.0  Alabama                     0           0
1      2015  Female  29.0  Alabama                     0           1
2      2015    Male  18.0  Alabama                     0           0
3      2015    Male  41.0  Alabama                     0           0
4      2016  Female  52.0  Alabama                     1           0
...     ...     ...   ...      ...                   ...         ...
99995  2018  Female  33.0  Wyoming                     0           0
99996  2016  Female  80.0  Wyoming                     0           1
99997  2018    Male  46.0  Wyoming                     0           1
99998  2018  Female  51.0  Wyoming                     1           0
99999  2016    Male  13.0  Wyoming                     0           0

       race:Caucasian  race:Hispanic  race:Other  hypertension  heart_disease  \
0                   0              0           1             0              0
1                   0              0           0             0              0
2                   0              0           1             0              0
3                   1              0           0             0              0
4                   0              0           0             0              0
...               ...            ...         ...           ...            ...
99995               0              0           1             0              0
99996               0              0           0             0              0
99997               0              0           0             0              0
99998               0              0           0             0              0
99999               0              1           0             0              0

      smoking_history    bmi  hbA1c_level  blood_glucose_level  diabetes
0               never  27.32          5.0                  100         0
1               never  19.95          5.0                   90         0
2               never  23.76          4.8                  160         0
3               never  27.32          4.0                  159         0
4               never  23.75          6.5                   90         0
...               ...    ...          ...                  ...       ...
99995           never  21.21          6.5                   90         0
99996         No Info  36.66          5.7                  100         0
99997            ever  36.12          6.2                  158         0
99998     not current  29.29          6.0                  155         0
99999         No Info  17.16          5.0                   90         0

[100000 rows x 16 columns]>

In [6]:
df.shape

(100000, 16)

In [7]:
df.size

1600000

In [8]:
df.columns

Index(['year', 'gender', 'age', 'location', 'race:AfricanAmerican',
       'race:Asian', 'race:Caucasian', 'race:Hispanic', 'race:Other',
       'hypertension', 'heart_disease', 'smoking_history', 'bmi',
       'hbA1c_level', 'blood_glucose_level', 'diabetes'],
      dtype='object')

In [9]:
print("\nMISSING VALUES PER COLUMN:\n", df.isna().sum())

MISSING VALUES PER COLUMN:
 year                    0
gender                  0
age                     0
location                0
race:AfricanAmerican    0
race:Asian              0
race:Caucasian          0
race:Hispanic           0
race:Other              0
hypertension            0
heart_disease           0
smoking_history         0
bmi                     0
hbA1c_level             0
blood_glucose_level     0
diabetes                0
dtype: int64

In [10]:
print("\nNUMBER OF DUPLICATE ROWS:", df.duplicated().sum())

NUMBER OF DUPLICATE ROWS: 14

In [11]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

# Identify column types
text_cols = df.select_dtypes(include='object').columns
num_cols = df.select_dtypes(include='number').columns

In [12]:
for col in text_cols:
    df[col] = df[col].str.strip()

# 3. Text casing standardization
for col in text_cols:
    df[col] = df[col].str.upper()

In [14]:
if 'year' in df.columns:
    df['year'] = pd.to_datetime(df['year'], format='%Y', errors='coerce')

In [17]:
for blood_glucose_level in num_cols:
    df[blood_glucose_level] = df[blood_glucose_level].fillna(df[blood_glucose_level].median())

In [18]:
for smoking_history	 in text_cols:
    df[smoking_history	] = df[smoking_history	].fillna(df[smoking_history	].mode()[0])

In [19]:
df = df.drop_duplicates()

In [20]:
df.isna().sum()

year                    0
gender                  0
age                     0
location                0
race:africanamerican    0
race:asian              0
race:caucasian          0
race:hispanic           0
race:other              0
hypertension            0
heart_disease           0
smoking_history         0
bmi                     0
hba1c_level             0
blood_glucose_level     0
diabetes                0
dtype: int64

In [24]:
df.duplicated().sum()

np.int64(0)

In [26]:
#cleaned data info
df

,year,gender,age,location,race:africanamerican,race:asian,race:caucasian,race:hispanic,race:other,hypertension,heart_disease,smoking_history,bmi,hba1c_level,blood_glucose_level,diabetes
0,2020-01-01,FEMALE,32.0,ALABAMA,0,0,0,0,1,0,0,NEVER,27.32,5.0,100,0
1,2015-01-01,FEMALE,29.0,ALABAMA,0,1,0,0,0,0,0,NEVER,19.95,5.0,90,0
2,2015-01-01,MALE,18.0,ALABAMA,0,0,0,0,1,0,0,NEVER,23.76,4.8,160,0
3,2015-01-01,MALE,41.0,ALABAMA,0,0,1,0,0,0,0,NEVER,27.32,4.0,159,0
4,2016-01-01,FEMALE,52.0,ALABAMA,1,0,0,0,0,0,0,NEVER,23.75,6.5,90,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2018-01-01,FEMALE,33.0,WYOMING,0,0,0,0,1,0,0,NEVER,21.21,6.5,90,0
99996,2016-01-01,FEMALE,80.0,WYOMING,0,1,0,0,0,0,0,NO INFO,36.66,5.7,100,0
99997,2018-01-01,MALE,46.0,WYOMING,0,1,0,0,0,0,0,EVER,36.12,6.2,158,0
99998,2018-01-01,FEMALE,51.0,WYOMING,1,0,0,0,0,0,0,NOT CURRENT,29.29,6.0,155,0
99999,2016-01-01,MALE,13.0,WYOMING,0,0,0,1,0,0,0,NO INFO,17.16,5.0,90,0

In [33]:
df['bmi_glucose_diff'] =  df['blood_glucose_level']-df['bmi']
df['bmi_glucose_diff']

C:\Users\vaish\AppData\Local\Temp\ipykernel_12628\1187027303.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['bmi_glucose_diff'] =  df['blood_glucose_level']-df['bmi']

0         72.68
1         70.05
2        136.24
3        131.68
4         66.25
          ...
99995     68.79
99996     63.34
99997    121.88
99998    125.71
99999     72.84
Name: bmi_glucose_diff, Length: 99986, dtype: float64

In [34]:
df['health_status'] = df.apply(lambda x: 'HIGH RISK'if (x['bmi'] >= 30) and (x['blood_glucose_level'] >= 140) and (x['hba1c_level'] >= 6.5)
    else 'LOW RISK',
    axis=1)
df['health_status']

C:\Users\vaish\AppData\Local\Temp\ipykernel_12628\2043172528.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['health_status'] = df.apply(lambda x: 'HIGH RISK'if (x['bmi'] >= 30) and (x['blood_glucose_level'] >= 140) and (x['hba1c_level'] >= 6.5)

0        LOW RISK
1        LOW RISK
2        LOW RISK
3        LOW RISK
4        LOW RISK
           ...
99995    LOW RISK
99996    LOW RISK
99997    LOW RISK
99998    LOW RISK
99999    LOW RISK
Name: health_status, Length: 99986, dtype: object

In [37]:
df['overall_high_risk'] = ((df['bmi'] > df['bmi'].mean()) &(df['blood_glucose_level'] > df['blood_glucose_level'].mean()) &(df['hba1c_level'] > df['hba1c_level'].mean()))
df['overall_high_risk']

C:\Users\vaish\AppData\Local\Temp\ipykernel_12628\832905245.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['overall_high_risk'] = ((df['bmi'] > df['bmi'].mean()) &(df['blood_glucose_level'] > df['blood_glucose_level'].mean()) &(df['hba1c_level'] > df['hba1c_level'].mean()))

0        False
1        False
2        False
3        False
4        False
         ...
99995    False
99996    False
99997     True
99998     True
99999    False
Name: overall_high_risk, Length: 99986, dtype: bool

In [38]:
print("\nINSIGHT 1: Average Blood Glucose by Health Status")
print(
    df.groupby('health_status')['blood_glucose_level']
      .mean()
      .sort_values(ascending=False)
)

INSIGHT 1: Average Blood Glucose by Health Status
health_status
HIGH RISK    186.906756
LOW RISK     136.080578
Name: blood_glucose_level, dtype: float64

In [39]:
print("\nINSIGHT 2: Average HbA1c by Gender")
print(
    df.groupby('gender')['hba1c_level']
      .mean()
      .sort_values(ascending=False)
)

INSIGHT 2: Average HbA1c by Gender
gender
MALE      5.553059
FEMALE    5.509483
OTHER     5.405556
Name: hba1c_level, dtype: float64

In [41]:
df['health_status'].value_counts()

health_status
LOW RISK     96093
HIGH RISK     3893
Name: count, dtype: int64

In [43]:
pd.pivot_table(
    df,
    values='bmi',
    index='health_status',
    columns='blood_glucose_level',
    aggfunc='mean'
)

blood_glucose_level,80,85,90,100,126,130,140,145,155,158,159,160,200,220,240,260,280,300
health_status,,,,,,,,,,,,,,,,,,
HIGH RISK,NaN,NaN,NaN,NaN,NaN,NaN,36.831547,37.004005,36.665012,36.329185,36.876711,36.992321,36.528455,37.716503,37.150323,37.372010,37.503147,37.766864
LOW RISK,26.920875,26.841666,26.903707,26.88157,27.183282,27.401221,26.766331,26.683379,26.728925,26.625124,26.747323,26.818860,26.705890,29.466048,29.063044,29.706353,29.406197,29.883370